/*!
 * @copyright Copyright &copy; Kartik Visweswaran, communityii, 2014 - 2015
 * @package communityii/yii2-user
 * @version 1.0.0
 * @see https://github.com/communityii/yii2-user
 */
 .y2u-body {
    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(229, 229, 229, 1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.y2u-container, .y2u-container-pad {
    margin: auto;
    width: 680px;
}

.y2u-container-pad {
    margin: 5% auto;
}

.y2u-logo {
    height: 100px;
    margin-right: 5px;
    vertical-align: middle;
}

.y2u-box {
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.y2u-title {
    font-size: 2.4em;
    vertical-align: middle;
    text-align: center;
}

.y2u-box .page-header {
    margin-top: 10px;
}

.y2u-box .hint-block {
    color: #999;
    font-size: 12px;
    font-style: italic;
    margin: 4px 0 0 4px;
}

.y2u-box h2, .y2u-box h3 {
    margin: 0;
    padding: 0;
}

.y2u-box .y2u-header {
    padding: 15px 0;
}

.y2u-box-footer {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    text-align: right;
}

.y2u-link {
    padding: 8px 0 0 0;
    font-size: 13px;
    margin-right: 8px;
}

@media screen and (max-width: 720px) {
    .y2u-container, .y2u-container-pad {
        width: 100%;
    }

    .y2u-box {
        margin: auto 15px;
    }
}